<div class="contextual">
<%= link_to l(:button_edit), 
   {:controller => 'autolinks', :action => 'edit', :id => @autolink, 
    :project_id => @project},
    :class => 'icon icon-edit',
    :accesskey => accesskey(:edit),
    :onclick => 'Element.show("edit-autolink"); return false;' %>
<%= link_to l(:button_delete), 
  {:controller => 'autolink', :action => 'destroy', 
	:id => @autolink, :project_id => @project}, 
        :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
<%= link_to(l(:label_list_autolinks),
              {:controller => :autolink,
              :action => :index,
              :project_id => @project}, :class => 'template') %>  
</div>

<h2 class="template"><%= l(:autolink) %> #<%= @autolink.id %>: <%= @autolink.pattern %> </h2>

<div id="edit-autolink" style="display:none;">
<% labelled_form_for :autolink, @autolink, :url => { :controller => 'autolink', :action => 'edit', :id => @autolink },
       :html => { :id => 'autolink-form',
       :class => nil,
       :multipart => false } do |f| %> 
		<%= render :partial => 'form', :locals => { :f => f } %>
		<%= submit_tag l(:button_edit) %>
		<% end %>
<%= link_to l(:button_cancel), {:action => 'index'}, :onclick => 'Element.hide("edit-autolink"); return false;' %>
<hr/>
</div>


<% puts "=====> ############### " + @autolink.inspect() %>

<div class="box tabular" style="background-color: white;">
<p>
<label><%= l(:autolink_pattern) %></label>
<%= h @autolink.pattern %>
</p>
<fieldset class="issue">
<legend class="issue"><%= l(:label_autolink_replacement_masks) %></legend>
<p>
<label><%= l(:autolink_link_replacement) %></label>
<%= h @autolink.link_replacement %>
</p>
<p>
<label><%= l(:autolink_title_replacement) %></label>
<%= h @autolink.title_replacement %>
</p>
</fieldset>
</div>
